/* =====================================================
   SAC SIDEBAR
===================================================== */

[data-testid="stSidebar"]{
    background:#0a6ed1 !important;
    border-right:none;
}

[data-testid="stSidebar"] *{
    color:white !important;
}

/* Sidebar Navigation */

section[data-testid="stSidebarNav"]{
    padding-top:20px;
}

/* Menu Items */

section[data-testid="stSidebarNav"] a{
    border-radius:8px;
    padding:12px 16px;
    margin-bottom:6px;
    font-size:15px;
    font-weight:500;
    color:white !important;
    transition:0.2s;
}

/* Hover */

section[data-testid="stSidebarNav"] a:hover{
    background:rgba(255,255,255,0.15);
}

/* Active Page */

section[data-testid="stSidebarNav"] a[aria-current="page"]{
    background:white !important;
    color:#0a6ed1 !important;
    font-weight:700;
    border:none;
}

/* Icons */

section[data-testid="stSidebarNav"] svg{
    fill:white !important;
}

section[data-testid="stSidebarNav"] a[aria-current="page"] svg{
    fill:#0a6ed1 !important;
}
